USE [TempPalletTrackingDB]
GO
/****** Object:  StoredProcedure [dbo].[spNewTrayTransaction]    Script Date: 08/02/2017 10:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Prasert
-- Create date: 
-- Description:	
-- =============================================

-- EXEC [spNewTrayTransaction] 'AW0162120F', 
-- 'PT0001', '', 
-- 'PT0002', '',
-- '', '', 
-- 0,
-- '05-03-2017 16:40:00 PM'


ALTER PROCEDURE [dbo].[spNewTrayTransaction] 

	@trayID varchar(10),
	
	@palletIDRow11 varchar(6),
	@palletIDRow12 varchar(6),				
	
	@palletIDRow21 varchar(6),
	@palletIDRow22 varchar(6),
	
	@palletIDRow31 varchar(6),
	@palletIDRow32 varchar(6),	
		
	@completedTray bit,
	@createdDateTime DATETIME
			

AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO tblTrayTransaction(TrayID, 
    PalletID_Row11, PalletID_Row12, 
    PalletID_Row21, PalletID_Row22, 
    PalletID_Row31, PalletID_Row32,         
    CompletedTray,
    CreatedDateTime)   
    
	SELECT @trayID, 
	@palletIDRow11, @palletIDRow12,
	@palletIDRow21, @palletIDRow22,
	@palletIDRow31, @palletIDRow32,
	@completedTray,
	@createdDateTime

END
